/**
*   Pitch Builder
**/

::-webkit-scrollbar  {
    width: 12px;
}

::-webkit-scrollbar-track  {
    background: inherit;
}

::-webkit-scrollbar-thumb  {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

html, body{
    -webkit-overflow-scrolling: auto;
}
body.pitchBuilder {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:100%;
    width:100%;
    overflow: hidden;
    z-index: 0;
}

.title {
    position: absolute;
    top: 10px;
    left: 235px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    color: #FFF;
    font-size: 26px;
    line-height: 40px;
    height: 66px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.title span {
    opacity: 0.3;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    transition: opacity 250ms;
}
.title:hover span{
    opacity: 1;
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.controls {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
}
.controls img {
    cursor: pointer;
    margin: 5px;
    z-index: 110;
    opacity: 0.3;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    transition: opacity 250ms;
}
.controls img:hover {
    opacity: 1;
}

.branding {
    position: absolute;
    top:0;
    left:0;
    width: 220px;
    height: 100px;
    background: #333;
    text-align: center;
}
.branding img {
    margin-top: 10px;
    width: 80%;
}
.branding div {
    color: #FFF;
    font-family: 'Neuton', serif;
    font-weight: 300;
}

.preview-pane {
    position: absolute;
    top: 0;
    left: 220px;
    bottom: 200px;
    right: 0;
    padding: 20px;
    background-color: #000;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 50;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slideshow-filmstrip {
    position: absolute;
    top: 100px;
    left: 0;
    bottom: 200px;
    width: 220px;
    background: #636363;
    z-index: 50;
    padding-bottom: 10em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}
.slideshow {
    z-index: 60;
}

.resources-filmstrip {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: #1B4183;
    padding-right:2.1em;
    z-index: 10000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.8);
}
.slide, .resource {
    display: inline-block;
    white-space: normal;
    height: 120px;
    width: 160px;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    margin: 2em 0 0 1em;
    position: relative;
    z-index: 10000;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.8);
}
.slideshow-filmstrip .slide, .slideshow-filmstrip .resource {
    margin: 1em 1em 0 1.5em;
    cursor:pointer;
}

.slide .delete, .resource .delete{
    background: url('../images/delete.png') left top no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
    position: absolute;
    top:-12px;
    right:-12px;
    display:none;
    cursor: pointer;
}

.slideshow-filmstrip .slide .delete, .slideshow-filmstrip .resource .delete {
    display: block;
}

.resource-filter {
    background: rgba(255,255,255,0.8);
    position: absolute;
    top: 0;
    bottom: 200px;
    right: -340px;
    width: 340px;
    z-index: 6000;
    -webkit-transition: right 500ms;
    -moz-transition: right 500ms;
    transition: right 500ms;
}
.resource-filter.open {
    right:0;
}
.resource-filter .handle {
    display: block;
    position: absolute;
    bottom: 0px;
    left: -136px;
    height: 64px;
    width: 136px;
    background: inherit;
    font-size: 2em;
    font-family: sans-serif;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
    border-top-left-radius: 10px;
}
.resource-filter label {
    display: block;
    font-family: sans-serif;
    line-height: 40px;
    font-size: 20px;
    padding: 0.5em 1em;
    cursor: pointer;
}
.resource-filter label:nth-child(even) {
    background: #EEE;
}

.help-slides {
    display: none;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    height:100%;
    width:100%;
    background: #000;
    z-index: 10000;
}
.help-slides div.cycle-slideshow{
    height: 100%;
    width: 100%;
}
.help-slides div.cycle-slide {
    height: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.help-close-button{
    position: fixed;
    top: 10px;
    right: 10px;
}