/* main.styl */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body {
  overflow-y: auto;
  font-family: 'Neuton';
  font-weight: 200;
  color: #333;
  background-color: #fff;
  background-size: cover;
  background-attachment: fixed;
}
#site-wrapper{
    height: 100%;
    max-width: 1100px;
    min-width: 960px;
    margin: 0 auto;
}
a {
  color: #e0223e;
  text-decoration: none;
}
a:hover,
a:visited {
  color: #dc1d3f;
}
.noscript,
.chromeframe {
  height: 2em;
  line-height: 2em;
  background: #ff9;
}
.noscript p,
.chromeframe p {
  margin: 0 auto;
  width: 80%;
}
.chromeframe a,
.noscript a {
  text-decoration: underline; 
}
div.div-table{
    display: table;
}

div.div-table-tr{
    display: table-row;
}

div.div-table-td{
    display: table-cell;
    padding: 0.5em;
}
#site-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#site-nav ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#site-nav ul li {
  float: left;
  margin-right: 0.5em;
}
#site-nav ul li:after {
  content: '\2219';
  margin-left: 0.5em;
}
#site-nav ul li.last-child {
  margin-right: 0;
}
#site-nav ul li.last-child:after {
  display: none;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}
header{
    position: relative;
    height: 130px;
    top: 0;
    left: 0;
    right: 0;
}
#heading{
    position: absolute;
    top: 30px;
    z-index: 50;
    margin: 0;
}
#heading img{
    height: 66px;
}
#main{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.column{
    width: 50%;
    padding: 20px 50px;
}
.left{
    float: left;
}
.right{
    float: right;
}
.button{
    display: block;
    width: 340px;
    height: 75px;
    line-height: 65px;
    font-size: 50px;
    font-family: 'Neuton';
    text-align: center;
    color: #fff;
    background-color: #666;
    font-weight: 200;
    border: 0;
}
.button-wrapper{
    display: inline-block;
    margin-right: 15px;
}
.button-wrapper .button{
    display: block;
    width: 250px;
    height: 50px;
    background: #df1f38;
    color: #fff;
    font-size: 25px;
    line-height: 50px;
}
.next-step{
    font-size: 20px;
    margin-right: 1em;
}
.score{
    font-size: 90px;
}
.results-header{
    font-size: 35px;
    color: #333;
    padding: 0;
    margin: 0;
    font-weight: 400;
}
.results-content{
    margin: 0.5em 5%;
}
a.button, a.button:visited{
    color: #fff;
}
.scroll-wrapper{
    position: absolute;
    top: 120px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.scroll-wrapper-courses{
    position: absolute;
    top: 180px;
    bottom: 20px;
    left: 0;
    right: 0;
    overflow-y: auto;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
        
h2{
    font-weight: 200;
    font-size: 75px;
}
p{
    font-size: 25px;
}
.youtube-wrapper{
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 50px 0 10px 0;
}
.button.small{
    height: 35px;
    width: 180px;
    font-size: 22px;
    line-height: 33px;
}
.table{
    display: table;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.td{
    display: table-cell;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
.valign-middle{
    vertical-align: middle;
}
.right-align{
    text-align: right;
}
.blue-header{
    font-size: 35px;
    color: #0078e7;
    margin: 0;
    padding: 0;
    font-weight: 300;
}
.thin-header{
    font-size: 35px;
    margin: 0;
    padding: 0;
    font-weight: 200;
}
.content-padding{
    padding: 0 8%;
}
.red{
    color: #bb0000;
}
.green{
    color: #00aa00;
}
/*
*   Shared Bits
* */
footer{
    background: #005696;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    clear:both;
    padding: 0;
    visibility: hidden;
}

footer img{
    float: right;
    margin: 20px 20% 0 0;
}

#copyright{
  float:right;
  font-size: 14px;
  font-style: italic;
  margin: 50px 50px 0 0;
}

.float-wrapper{
  overflow: auto;

}

.float-wrapper:before,
.float-wrapper:after{
  /* For modern browsers */
    content:"";
    display:table;
}

.float-wrapper:after {
    clear:both;
}

.centered{
  margin: 100px auto;
}
.center{
    text-align: center;
}
.center>*{
    margin: 0 auto;
}
.full-width{
    width: 100%;
}
.gray-rounded{
  padding:25px;
  background: #e1e1e1;
  border: 1px solid #ccc;
  border-radius: 15px;
}

.space-bottom{
    margin-bottom: 1em;
}
.placeholder{
    color: #aaa;
}
/*
*   Login Page
* */
#login{
  margin: 25px auto;
  width: 425px;
  padding: 10px 25px;
  font-family: 'Neuton';
  font-weight: 200;
  background: #193769;
}
#login h1{
    font-weight: 200;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
#login input[type=text],
#login input[type=password]{
    margin: 5px 0;
    height: 45px;
    font-size: 33px;
    font-weight: 200;
    border: 1px solid #ddd;
    background-color: #d2d6e1;
    color: #84878e;
}
#login p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #fff;
}
#login a{
    color: #fff;
}
#login-image-wrapper{
  margin: 100px auto 0;
}
#login-image-wrapper img{
    margin: 0 auto;
    display: block;
}
#login input[type=submit]{
    font-weight:200;
    background: #df1f38;
    font-size: 25px;
    padding: 10px 20px;
    line-height: 20px;
    float: right;
    border: none;
}

.textbox-style-1{
  display: block;
  width: 100%;
  font-size: 24px;
  margin: 0 0 20px 0;
}

.submit{
  padding: .5em 1.5em;
  float: right;
  border: 0 #000;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: .1s linear -webkit-box-shadow;
  -moz-transition: .1s linear -moz-box-shadow;
  -ms-transition: .1s linear box-shadow;
  -o-transition: .1s linear box-shadow;
  transition: .1s linear box-shadow;
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor:pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: button;
}
.blue{
  background-color: #df1f38;
  color: #fff;
}

#registration-link{
  text-align: right;
}
#registration-link p{
      font-size: 18px;
}

.full-width{
  display: block;
  width: 100%;
}

/*
*   Registration Page
* */
#registration{
  margin: 100px auto 0;
  width:400px;
  font-family: 'Source Sans Pro';
  font-weight: 400;
}

#registration > .image-wrapper{
  text-align: center;
  margin: 15px 0;
}

#registration form{
  width: 400px;
  border-radius: 15px;
}

#registration{
  font-size: 18px;
  margin-bottom: 110px;
}

#registration input,
#registration select{
  margin: 10px 0 25px 0;
}
.registration #main{
    overflow-y: auto;
    height: 100%;
    top: 0 !important;
}

#registration select{
    width: 100%;
    height: 24px;
}
#registration .group{
    background: #193769;
    font-family: 'Neuton';
    padding: 15px;
}
#registration .group a{
    color: #fff;
}

#company-other,
#company-other-label{
  display:none;
}
/**
*   Navbar
*/
.nav-button{
    width: 33%;
    float: left;
    padding: 10px 25px;
    font-family: 'Neuton';
    text-align: center;
}
.nav-button img{
    width: 100%;
}
.nav-button h2{
    font-size: 35px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
.nav-button p{
    font-size: 18px;
    font-weight: 200;
    margin: 0;
}
.index #hamburger{
    display: none;
}
#hamburger{
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    z-index: 100001;
    cursor: pointer;
}
#hamburger-wrapper{
    position: relative;
    float: right;
}
#nav-dropdown{
    position: absolute;
    top: -315px;
    max-width: 1100px;
    background: #fff;
    z-index: 100001;
    height: 315px;
}
#nav-dropdown .nav-button{
    opacity: 0.4;
}
#nav-dropdown .nav-button:hover{
    opacity: 1.0;
}
#sales-coach-button{
    color: #005696;
}
#pitch-builder-button{
    color: #005696;
}
#resource-room-button{
    color: #005696;
    width: 34%;
}
#page-content.index{
    margin: 150px;
}
/**
*   Index Page
*/
header.index{
    position: relative;
    height: 10%;
    display: block;
    padding: 10px 25px;
}
header.index #heading{
    position: absolute;
    top: 25px;
    left: 70px;
    height: 100%;
}
#page-icon{
    height: 50px;
    position: absolute;
    top: 5px;
    right: 120px;
    font-size: 22px;
    color: #005696;
}
#page-icon img{
    height: 20px;
    display: inline-block;
}
#page-icon p{
    height: 20px;
    display: inline-block;
    margin: 0;
    font-size: 20px;
}
#vanity{
    position: absolute;
    right: 0 !important;
    top: 65px;
    text-align: right;
}
h2.index {
    font-size: 36px;
    color: #999;
    margin: 0.3em 0;
}
.home-app-box{
    float: left;
    width: 200px;
    font-size: 18px;
    line-height: 20px;
}
.home-app-box .blue{
    background: transparent;
    color: #4B87BF;
    font-size: 20px;
    font-weight: 400;
}
.home-app-box img{
    width: 130px;
}
/**
*   Course Overview
*/
.courseOverview .box h2{
    background-color: rgba(0,0,0,0.7);
}
.header-image img{
    width: 100%;
    margin-bottom: -50px;
    max-height: 300px;
}
.header-caption{
    height: 50px;
    position: relative;
    top: 0px;
    background: #fff;
    background: rgba(255,255,255,0.6);
    width: 100%;
    padding: 5px 15px;
    font-size: 30px;
}
.header-link{
    float: right;
}
.box{
    float: left;
    width: 32%;
    margin: 15px 0;
    height: 360px; 
    background: #d9d9d9;
    position: relative;
}
.box-contents{
    height: 50%;
    width: 100%;
    padding: 10px;
}
.box.margin{
    margin-right:  2%;
    margin-left: 2%;
}
.box h2{
    font-size: 15px;
}
.box-footer{
    width: 100%;
    height: 20%;
    position: absolute;
    bottom: 0;
    background: #fff;
    text-align: center;
}
.box .large-number{
    font-size: 30px;
}
.box .star{
    background: url('../images/star.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 230px;
    text-align: center;
    padding-top: 80px;
    font-size:60px;
}
.category-container{
    overflow-y: auto;
    height: 95%;
}
.short-stats{
    font-family: 'Neuton';
    font-size: 35px;
    margin: 30px 0;
    font-weight: 200;
    line-height: 35px;
}
.company-stats{
    font-family: Neuton;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
}
.company-stats h2{
    font-size: 50px;
    margin: 20px 0;
    font-weight: 200;
}
.company-stats-row{
    position: relative;
    text-align: left;
    height: 30px;
    margin: 0.75em 0;
    width: 100%;
    font-size: 25px;
}
.company-stats-row .rank{
    display: inline-block;
    position: relative;
    top: -8px;
    color: #fff;
}
.company-stats-row .company-name{
    position: absolute;
    top: -4px;
    left: 27px;
    z-index: 1000;
    color: #1c4070;
}
.person-stats-row{
    margin: 0.5em 0;
}
.user-rank{
    font-size: 30px;
}
.user-rank .rank{
    color: #1c386a;
}
.progress-bar {
    width: 90%;
    background-color: #e1e1e1;
    display: inline-block;
}
.bar {
    height: 100%;
    background: #fff;
    -webkit-transition: width 200ms;
    -moz-transition: width 200ms;
    -ms-transition: width 200ms;
    transition: width 200ms;
    float: left;
    line-height: 20px;
    padding-left: 2px;
}
.opacity-100{
    opacity: 1.0;
}
.opacity-90{
    opacity: 0.8;
}
.opacity-80{
    opacity: 0.65;
}
.opacity-70{
    opacity: 0.525;
}
.opacity-60{
    opacity: 0.45;
}
.opacity-50{
    opacity: 0.35;
}
aside{
    font-size: 20px;
    width: 100%;
    text-align: right;
}
.category-tab{
    float: left;
    padding: 10px 45px;
    font-size: 30px;
    z-index: 100;
}
.category-tab.active{
    background: #102750;
    color: #fff;
}
.courses{
    width: 100%;
    z-index: 50;
}
.course{
    width: 100%;
    height: 75px;
    line-height: 75px;
    padding: 0 15px;
    font-size: 40px;
    border-bottom: 1px solid #ccc;
    font-weight: 200;
    z-index: 50;
}
#filter{
    float: right;
}
#filter select{
    background: #df1f38;
    color: #fff;
    width: 275px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    margin: 15px 10px 0 0;
}
#courses{
    clear:both;
}
#courses .box{
    height: 350px;
    background-size: cover;
}
#courses .box h2{
    font-size: 30px;
    color: #fff;
    width: 100%;
    text-align: center;
    text-shadow: 2px 2px #000;
    margin: 0;
    padding: 1em;
}
#courses .box-footer{
    background: #fff;
    background: rgba(255,255,255,0.8);
    z-index: 50;
}
#courses .box-footer span{
    font-size: 30px;
}
#courses .box-footer p{
    color: #333;
    margin: 0;
    font-size: 16px;
}
#courses .box-contents{
    display: block;
    text-decoration: none;
    height: 100%;
    z-index:1000;
    padding: 0;
}
#courses .box-contents:hover{
    background-image: url('../images/play.png');
}
#bottom{
    color: #fff;
    font-weight: 200;
}
/**
*   Pitch Builder Overview
*/
#no-pitches{
    margin: 1em 2em;
}
#header{
    padding: 0 25px;
    color: white;
    height: 80px;
}
#header h2{
    font-family: 'Neuton';
    font-size: 75px;
    line-height: 65px;
    font-weight: 200;
    margin: 0;
    padding: 0;
}
#bottom{
    background-color: #1B4183;
    text-align: right;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#bottom #short-stats{
    margin-right: 3%;
}
#slideshow-list .box{
    background-image: url('../images/chalkboard.jpg');
    background-size: cover;
    height: 300px;
}
#slideshow-list .box-contents{
    height: 300px;
    text-align: center;
}
#slideshow-list .box-contents img{
    margin-top: 60px;
}
#slideshow-list .box-footer{
    padding: 2px 0;
    background: #fff;
    background: rgba(255,255,255,0.6);
    height: 23%;
}
#slideshow-list .link-like{
    width: 22%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    color: #666;
    cursor: pointer;
}
#slideshow-list .link-like.wide{
    width: 40%;
}
#slideshow-list .box-footer a{
    width: 22%;
    margin: 1%;
    display: inline-block;
    text-align: center;
    color: #666;
}
#slideshow-list .box-footer img{
    height: 35px;
    display: inline-block;
}
.date,
.title{
    width: 100%;
    text-align: left;
    color: #fff;
    font-size: 30px;
}
.title{
    font-weight: 400;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
.slideshow-row{
    height: 65px;
    font-size: 35px;
    line-height: 65px;
    border-bottom: 1px solid #666;
    padding-left: 15px;
}
.slideshow-controls{
    float: right;
    margin-right: 8%;
}
.slideshow-controls a{
    margin-left: 15px;
}
/**
*   Resource Page
*/
.resourceRoom .scroll-wrapper{
    background-color: #4B87BF;
}
.appBox{
    width: 400px;
    height: 380px;
    border: 1px solid #999;
    border-radius: 15px;
    float: left;
    text-align: center;
    margin: 20px;
    background-color: #fff;
    padding-top: 15px;
}
.appDescription{
    height: 115px;
    padding: 15px;
}
.appLinks{
    border-top: 1px solid #999;
    height: 75px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.appstoreLink{
    border-right: 1px solid #999;
    display: block;
    float: left;
    width: 199px;
    text-align: center;
    height: 70px;
    padding-top: 15px; 
}
.playstoreLink{
    display: block;
    float: left;
    width: 199px;
    text-align: center;
    height: 70px;
    padding-top: 12px;
}
.coming-soon{
    margin-top: 20px;
    font-weight: 300;
    font-size: 20px;
}
.course-completed{
    float: right;
    color: #1B4183;
}
.course-wrapper{
    margin: 45px;
}
.course-questions{
    list-style: none;
}
.course-questions .question{
   margin:15px;
   font-size: 20px;
   border: 1px solid #ccc;
   border-radius: 15px;
   background: #ccc;
}
.course-description{
    padding: 10px 20px;
}
.answer input[type="radio"]{
    display: none;
}
.course-wrapper .column label{
    font-size: 25px;
    line-height: 30px;
    margin: 5px 15px 0 0;
}
.answer input[type="radio"] + label>span{
    position:relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid #df1f38;
    background: #df1f38;
    vertical-align: middle;
    cursor: pointer;
    margin: -5px 5px 0 0;
}
.answer input[type="radio"]:checked + label>span>span {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background: #005595;
    margin: -15px 0 0 -15px;
    top: 50%;
    left: 50%;
}
#watch-video{
    cursor: pointer;
}
.bottom-submit{
    height: 35px;
    font-size: 25px;
    border: 0 none;
    background-color: #df1f38;
    color: #fff;
    font-weight: 200;
    padding: 0 10px;
    line-height: 33px;
    float: right;
    margin-right: 1em;
}
.answers-wrapper{
    width: 100%;
    text-align: center;
}
.answer{
    margin: 0.5em 25%;
    width: auto;
    text-align: left;
    font-size: 25px;
}
.answer input{
    margin-right: 0.25em;
}
.question{
    margin: 0.5em 15%;
}
.course-border{
    display: block;
    height: 1px;
    margin: 0.5em 2%;
    background: #6ea0ca;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    border-left: none;
    border-right: none;
}
h2.header{
    color: #999;
    font-size: 20px;
}
#modal-wrapper{
    display: none;
    background: #d1d1d1;
    background: rgba(255,255,255,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2000;
}
.modal{
    display: none;
    width: 400px;
    background: #fff;
    margin: 20% auto;
    padding: 15px;
    color: #707070;
}
.modal h3{
    font-size: 30px;
    font-weight: 200;
    margin: 0;
}
.modal p{
    font-size: 16px;
}
.modal input[type=text]{
    width: 365px;
    font-size: 20px;
}
.modal button,
.modal input[type=submit]{
    width: 150px;
    border: 0;
    margin: 15px 5px;
    color: #fff;
    font-size: 19px;
    font-weight: 200;
    float: right;
}
.modal .cancel{
    background: #7faaca;
}
.modal input[type=submit],
.modal .delete{
    background: #005696;
}
.large-modal p{
    font-size: 18px;
    margin: 5px 0;
    padding: 0;
}
.large-modal h3 {
    font-size: 60px;
    font-weight: 200;
    margin: 0;
}
.large-modal .green h3{
    color: #096121;
}
.large-modal .red h3{
    color: #9c0010;
}
.courseQuestions .large-modal{
    width: 800px;
    background: #fff;
    padding: 15px;
    color: #707070;
    position: fixed;
    top: 15%;
    bottom: 15%;
    left: 50%;
    margin-left: -400px;
}
.large-modal h2{
    font-weight: 200;
    font-size: 32px;
    margin: 0;
}
.large-modal .number-correct{
    color: #000;
}
.courseQuestions .modal-wrapper{
    display: none;
    position:fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #d1d1d1;
    background: rgba(255,255,255,0.7);
    z-index: 2000;
}
.large-modal .modal-question-wrapper{
    overflow-y: scroll;
    display: block;
    position: fixed;
    bottom: 15%;
    top: 23%;
    left: 50%;
    margin-left: -400px;
    width: 800px;
}
img.close-button {
    float: right;
    cursor: pointer;
    margin: -10px -10px 0 0;
    padding: 0;
}
.question-results{
    margin-bottom: 1px;
    padding-bottom: 15px;
    padding-top: 5px;
}
.question-results.green {
    background: #c5e29b;
    color: #464646;
}
.question-results.red {
    background: #ffa2a2;
    color: #464646;
}
.question-results .column.left {
    width: 70%;
    padding: 0 20px;
}
.question-results .column.right {
    width: 30%;
    padding: 0;
}
.question-results h4 {
    font-size: 24px;
    font-weight: 500;
    margin: 0;
    padding: 0;
}
.question-results.green span.label {
    color: #40b84a;
}
.question-results.red span.label {
    color: #9c0010;
}
.top-boxes-wrapper{
    position: relative;
    overflow: hidden;
    width: 100%;
    top: 10px;
}
#progress-box{
    width: 25%;
    text-align: center;
    display: inline-block;
}
#progress{
    background: #abc8e4;
    color: #fff;    
    padding: 10px;
}
#progress-box-footer{
    background: #fff;
    margin: 0;
    padding: 0 0 5px 0;
    color: #707070;
    height: 85px;
}
#progress-box-footer h2{
    font-size: 35px;
    margin: 0;
}
#progress h2{
    font-size: 18px;
    width: 100%;
    text-align: left;
}
.header-image #progress{
    position: absolute;
    top: 115px;
    background: transparent;
}
#progress .knob{
    width: 125px !important;
    height: 90px !important;
    position: absolute !important;
    vertical-align: middle !important;
    margin-top: 47px !important;
    margin-left: -160px !important;
    border: 0px !important;
    font-size: 62px !important;
    line-height: normal !important;
    text-align: center !important;
    padding: 0px !important;
    -webkit-appearance: none !important;
    background: none !important;
    color: #fff !important;
}
#resource-box{
    position: absolute;
    right: 0;
    width: 75%;
    height: 100%;
    display: inline-block;
}
.cycle-slide, .cycle-slideshow{
    height: 100%;
    width: 100%;
}
.cycle-overlay{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background: #fff;
    background: rgba(255,255,255,0.4);
    z-index: 100000;
    height: 84px;
    text-align: right;
    padding-right: 20px;
    line-height: 84px;
}
.cycle-overlay a{
    font-size: 45px;
}
.cycle-next, .cycle-prev{
    z-index: 100000;
    position: absolute;
    top: 35%;
    height: 75px;
    width: 75px;
    cursor: pointer;
}
.cycle-prev{
    background-image: url('../images/cycle-prev.png');
    left: 0;
}
.cycle-next{
    background-image: url('../images/cycle-next.png');
    right: 0;
}
#bottom-boxes-wrapper{
    margin: 25px 0;
}
#windsor-brands{
    background: #a4c6e3;
    background: rgba(0,86,150, 0.2);
    width: 65%;
    margin-right: 1%;
    display: inline-block;
    height: 505px;
}
#windsor-brands h3,
#windsor-apps h3{
    color: #005696;
    font-weight: 400;
}
#windsor-brands h3{
    margin: 0 20px;
    padding: 20px 0;
}
#windsor-apps h3{
    margin: 0;
    padding: 5px 0;
}
#windsor-apps h4{
    color: #005696;
}
.brand-box{
    text-align: center;
    width: 33%;
    display: inline-block;
    padding: 10px 0;
}
.brand-box img{
    width: 168px;
    height: 55px;
}
#windsor-apps{
    width: 34%;
    background: #a4c6e3;
    background: rgba(0,86,150, 0.2);
    float: right;
    padding: 10px 5px;
    height: 505px;
}
.app-box .left{
    width: 60%;
    float: left;
}
.app-box .right{
    width: 40%;
    display: inline-block;
    float: right;
    margin-top: 40px;
}
.app-box img{
    width: 70%;
}

.intro-links{
    font-size: 21px;
    line-height: 1.7em;
}

.intro-links a:hover{
    text-decoration: underline;
}

.intro-videos{
    background: #d9d9d9;
}