/**
*   Pitch Builder
**/

::-webkit-scrollbar  {
    width: 12px;
}

::-webkit-scrollbar-track  {
    background: inherit;
}

::-webkit-scrollbar-thumb  {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

html, body{
    -webkit-overflow-scrolling: auto;
    background-image: url('../images/background-dark.jpg');
    color: #ccc;
}
body.pitchBuilder {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height:100%;
    width:100%;
    overflow: hidden;
    z-index: 0;
}

.title {
    position: absolute;
    top: 10px;
    left: 235px;
    background-color: #333;
    padding: 10px;
    border-radius: 10px;
    z-index: 100;
    color: #FFF;
    font-size: 23px;
    line-height: 43px;
    height: 66px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: sans-serif;
}
.title span {
    opacity: 0.3;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    transition: opacity 250ms;
}
.title:hover span{
    opacity: 1;
    -webkit-touch-callout: default;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.controls {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 100;
}
.control-button {
    cursor: pointer;
    margin: 0 5px;
    z-index: 110;
    -webkit-transition: opacity 250ms;
    -moz-transition: opacity 250ms;
    transition: opacity 250ms;
    color: #fff;
    padding: 5px 10px;
    display: inline-block;
    background: #999;
    font-size: 20px;
    height: 50px;
    width: 110px;
    line-height: 50px;
}
.control-text{
    position: relative;
    top: -8px;
    left: 10px;
}
.control-button.blue{
    background: #005696;
}

.branding {
    position: absolute;
    top:0;
    left:5px;
    background: transparent;
    text-align: center;
    z-index: 50;
    height: 60px;
}
.branding img {
    margin-top: 10px;
    width: 176px;
    height: 35px;
}
#pitch-title {
    position: relative;
    top: -7px;
    left: 15px;
    color: #ddd;
    font-family: 'Neuton', serif;
    font-weight: 300;
    height: 35px;
    margin-top: 10px;
    line-height: 35px;
    display: inline-block;
    font-size: 20px;
}

.preview-pane {
    position: absolute;
    top: 0;
    left: 220px;
    bottom: 200px;
    right: 0;
    padding: 20px;
    margin-top: 50px;
    background-color: transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 10;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.slideshow-filmstrip {
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 200px;
    width: 220px;
    background: transparent;
    z-index: 50;
    padding-bottom: 10em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-y: scroll;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    color: #ddd;
    background-color: #000;
    padding-left: 5px;
}
.slideshow-filmstrip h2{
    font-size: 20px;
    margin-bottom: 0px;
    white-space: nowrap;
}
.slideshow-filmstrip p{
    margin-top: 2px;
    font-size: 16px;
}
.slideshow {
    z-index: 60;
}

.resources-filmstrip {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 200px;
    background: #000;
    padding-right:2.1em;
    z-index: 10000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.8);
}
.slide, .resource {
    display: inline-block;
    white-space: normal;
    height: 120px;
    width: 160px;
    background-size: contain;
    background-position: left top;
    background-repeat: no-repeat;
    margin: 2em 0 0 1em;
    position: relative;
    z-index: 10020;
    box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.8);
}
.slideshow-filmstrip .slide, .slideshow-filmstrip .resource {
    margin: 1em 1em 0 1.5em;
    cursor:pointer;
}
.slide-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    background: rgba(0,0,0,0.6);
    display: none;
}
.slide-overlay img{
    margin-top: 15px;
}
.slide .delete img, .resource .delete img{
    margin: 0 !important;
}
.slide .delete, .resource .delete{
    height: 43px;
    width: 37px;
    position: absolute;
    bottom:0px;
    right:0px;
    cursor: pointer;
    background: rgba(0,0,0,0.6);
    padding: 4px;
}

.slideshow-filmstrip .slide:hover .slide-overlay, .slideshow-filmstrip .resource:hover .slide-overlay {
    display: block;
}

.resource-filter{
    position: absolute;
    bottom: 175px;
    right: 5px;
    z-index: 10001;
}
.filter-popup-trigger{
    background: #005696;
    padding: 2px 5px 2px 5px;
    width: 150px;
    display: inline-block;
    cursor: pointer;
}
.right{
    float: right;
}
.filter-popup{
    position: absolute;
    width: 150px;
    bottom: 24px;
    right: 0px;
    background: #005696;
    display: none;
}
.filter-popup label{
    display: block;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.filter-popup .right{
    padding-right: 5px;
}
.resources-filter-list{
    position: absolute;
    bottom: 175px;
    left: 17px;
    z-index: 10001;
}
.help{
    margin-left: 5px;
    white-space: nowrap;
    height: 20px;
}
.help-text{
    background: #0483e1;
    color: #fff;
    border-radius: 15px;
    white-space: nowrap;
    padding: 1px 10px;
    margin-right: 2px;
    cursor: default;
}
.help-bubble{
    background: #005696;
    border-radius:15px;
    margin-left: 5px; 
    padding: 2px 8px 2px 0;
    cursor: pointer;
    display: none;
}
#slides-help{
    position: absolute;
    top: 65px;
    left: 150px;
    z-index: 5000;
}
