body{
    font-family: 'Open Sans';
    overflow-x: hidden;
}
#vanity{
    float: right;
    font-size: 14px;
    margin-right: 10px;
}
a.heading{
    color: #000;
    text-decoration: none;
}
nav{
    width: 100%;
    background-color: #102750;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
    display: block;
    float: left;
    background-color: #102750;
    color: #fff;
    border-right: 1px solid #999;
    font-size: 14px;
}
    nav li:hover{
        background-color: #1B4183;
    }
    nav li a{
        color: #fff;
        text-decoration: none;
        height: 100%;
        width: 100%;
        display: block;
        padding: 15px 35px;
    }
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#main{
    padding: 20px;
}
header{
    background-color: #ccc;
    margin: 0;
    padding: 10px;
}
dl{
    margin-left: 25px;
}
dt{
    font-weight: 600;
    font-size: 16px;
}
dd{
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 10px;
}
.info-block{
    margin-left: 45px;
}
.pad-left{
    margin-left: 25px;
}
#addAddress{
    cursor: pointer;
}
#addAddress img{
    margin-right: 5px;
}
.hidden{
    display: none;
}
.column{
    width: 49%;
}
.left{
    float: left;
}
.right{
    float: right;
}
.question-table .wide{
    width: 95%;
}
.question-table input{
    width: 95%;
}
.center{
    text-align: center;
}
.question{
    border: 1px solid #ccc;
    border-radius: 15px;
    width: 95%;
    padding: 15px;
    margin: 20px 0;
}
.question-text{
    width: 95%;
}
.companyStatistics,
.questionStatistics,
.courseStatistics{
    background: #e3e3e3;
    margin: 20px;
    padding: 10px;
}
.companyStatistics table,
.questionStatistics table,
.courseStatistics table{
    width: 94%;
    margin: 10px 3%;
    border: 1px solid #aaa;
}
.companyStatistics tr:nth-of-type(odd),
.questionStatistics tr:nth-of-type(odd),
.courseStatistics tr:nth-of-type(odd) {
  background-color:#d3d3d3;
}
.companyStatistics tr:nth-of-type(even),
.questionStatistics tr:nth-of-type(even),
.courseStatistics tr:nth-of-type(even) {
  background-color:#c3c3c3;
}
.warning{
    padding: 0.5em;
    border: 1px solid red;
}
.resources img{
    width: 120px;
}
.resources td:nth-child(1){
    text-align: center;
}
#imgPreview{
    display: none;
    background: rgba(0,0,0,0.8);
    padding: 15px;
    width: 640px;
    height: 480px;
    position: fixed;
    right: 40px;
    top: 100px;
}
#imgPreview img{
    width: 640px;
    height: 480px;
}
